.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seat {
  height: 40px;
  width: 40px;
  border: 1px white solid;
}
.seatplan{
  margin-top:30px;
  display: grid;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  justify-items: center;
  gap: 0px;
  padding:10px;
  padding-top:135px;
  outline:3px solid black;
  border-radius:45% 45% 0 0;
}
.wing6-left{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom right, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:-50%;
}
.wing6-right{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom left, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:101%;
}

.wing4-left{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom right, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:-75%;
}
.wing4-right{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom left, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:101%;
}

.wing2-left{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom right, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:-150%;
}
.wing2-right{
  height:200px;
  width:150px;
  background-image:linear-gradient(to bottom left, transparent 50%, black 0);
  position:absolute;
  top:50%;
  left:101%;
}

.grid2 {
  width:100px;
  grid-template-columns: 1fr 1fr;

}

.grid4 {
  width:200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.grid6 {
  width:300px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.planeButton {
  height: 35px;
  width: 35px
}

.unavailableSeat {
  cursor: not-allowed;
  height: 35px;
  width: 35px;
  border: 1px white solid;
  background-color: red;
}
.homepage{
  display:grid;
  grid-template-columns: repeat(2, 1fr)
}

.spacer{
  margin-top:50px;
}