.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seat {
  height: 40px;
  width: 40px;
  border: 1px white solid;
}

.grid {
  display: grid;
  width:200px;
  position:relative;
  left:50%;
  transform:translateX(-50%);
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
}

.planeButton {
  height: 35px;
  width: 35px
}

.unavailableSeat {
  cursor: not-allowed;
  height: 35px;
  width: 35px;
  border: 1px white solid;
  background-color: red;
}